Repository ikanisa/easymo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @platform-team, @backend-team, @db-team, @frontend-team, @devx-team

.github/CODEOWNERS:

# Protect critical areas with required reviews.
# Replace the sample handles with your team slugs or users (e.g., @Loansert-Organization/platform-team).

/supabase/**              @repo-admins @platform-team
/apps/**                   @backend-team @platform-team
/packages/db/**            @db-team @platform-team
/admin-app/**              @frontend-team @platform-team
.github/workflows/**       @devx-team @platform-team

feat(admin-nav): add WhatsApp QR Sender to Messaging group; add typed route in shared
  admin-app/components/layout/nav-items.ts
  packages/shared/src/routes/admin.ts
Owners: @frontend-team, @platform-team

ux(admin): use Toast instead of alert after WhatsApp QR send
  admin-app/app/admin/payments/page.tsx
Owners: @frontend-team, @platform-team

Fix reconciliation-service auth test setup
  services/reconciliation-service/jest.config.js
  services/reconciliation-service/test/server.auth.spec.ts
Owners: none

chore: sync env template + voice mock script
  .env.example
  scripts/mock-voice-data.ts
Owners: none

chore: port admin api + shared routes
  admin-app/app/api/agents/[id]/audit/route.ts
  admin-app/app/api/agents/[id]/deploy/route.ts
  admin-app/app/api/agents/[id]/detail/route.ts
  admin-app/app/api/agents/[id]/documents/[docId]/embed/route.ts
  admin-app/app/api/agents/[id]/documents/[docId]/preview/route.ts
  admin-app/app/api/agents/[id]/documents/drive_sync/route.ts
  admin-app/app/api/agents/[id]/documents/embed_all/route.ts
  admin-app/app/api/agents/[id]/documents/route.ts
  admin-app/app/api/agents/[id]/documents/upload/route.ts
  admin-app/app/api/agents/[id]/documents/url/route.ts
  admin-app/app/api/agents/[id]/documents/web_search/route.ts
  admin-app/app/api/agents/[id]/route.ts
  admin-app/app/api/agents/[id]/runs/[runId]/route.ts
  admin-app/app/api/agents/[id]/search/route.ts
  admin-app/app/api/agents/[id]/vectors/stats/route.ts
  admin-app/app/api/agents/[id]/versions/[versionId]/publish/route.ts
  admin-app/app/api/agents/route.ts
  admin-app/app/api/insurance/ingest_media/route.ts
  admin-app/app/api/insurance/ocr/enqueue/route.ts
  admin-app/app/api/insurance/ocr/route.ts
  admin-app/app/api/mobility/ping_drivers/route.ts
  admin-app/app/api/openai/chat/route.ts
  admin-app/app/api/voice/analytics/export/route.ts
  admin-app/app/api/voice/analytics/route.ts
  admin-app/lib/routes/index.ts
  packages/shared/src/index.ts
  packages/shared/src/routes/admin.ts
  packages/shared/src/routes/adminApi.ts
  packages/shared/src/routes/index.ts
  packages/shared/src/routes/utils.ts
Owners: @frontend-team, @platform-team

feat: port admin agents ui + voice analytics
  admin-app/app/(panel)/agents/[id]/page.tsx
  admin-app/app/(panel)/agents/page.tsx
  admin-app/app/(panel)/layout.tsx
  admin-app/app/(panel)/voice-analytics/page.tsx
  admin-app/components/ai/ChatCompletionsPlayground.tsx
  admin-app/components/layout/MobileNav.tsx
  admin-app/components/layout/PanelShell.tsx
  admin-app/components/layout/SidebarNav.tsx
  admin-app/components/layout/nav-items.ts
  admin-app/components/ui/Badge.tsx
  admin-app/components/ui/DateRangePicker.tsx
  admin-app/components/ui/IntegrationStatusBadge.tsx
  admin-app/components/ui/Legend.tsx
  admin-app/components/ui/Tooltip.tsx
  admin-app/components/voice/VoiceAnalyticsPage.tsx
  admin-app/components/voice/VoiceCallsTable.tsx
  admin-app/components/voice/VoiceFilters.tsx
  admin-app/components/voice/VoiceFollowupsTable.tsx
  admin-app/components/voice/VoiceStatsSummary.tsx
  admin-app/lib/queries/agents.ts
  packages/shared/src/routes/adminApi.ts
Owners: @frontend-team, @platform-team

Refactor admin API client, harden voice DTOs, add schema guard
  README.md
  admin-app/lib/api/client.ts
  admin-app/lib/queries/agents.ts
  admin-app/lib/subscriptions/subscriptions-service.ts
  admin-app/lib/trips/trips-service.ts
  admin-app/tests/ping-drivers-route.test.ts
  admin-app/tests/schema-guard.test.ts
  admin-app/tests/setupActShim.ts
  admin-app/tests/setupTests.ts
  admin-app/vitest.config.cjs
  apps/api/package.json
  apps/api/src/common/request-logger.middleware.ts
  apps/api/src/main.ts
  apps/api/src/modules/realtime/dto/realtime-event.dto.ts
  apps/api/src/modules/realtime/dto/realtime-session.dto.ts
  apps/api/src/modules/realtime/realtime.controller.spec.ts
  apps/api/src/modules/realtime/realtime.controller.ts
  latest_schema.sql
  package.json
  pnpm-lock.yaml
  scripts/check-schema-alignment.mjs
  supabase/migrations/20251215121000_agent_security_hardening.sql
Owners: @frontend-team, @platform-team, @backend-team, @repo-admins

fix: restore mobile nav behavior and voice analytics query
  admin-app/components/layout/MobileNav.tsx
  admin-app/lib/queries/voiceAnalytics.ts
Owners: @frontend-team, @platform-team

Hardening admin mobility auth and WA security
  MIGRATION_ORDER.md
  README.md
  admin-app/app/api/auth/login/route.ts
  admin-app/app/api/mobility/ping_drivers/route.ts
  admin-app/lib/runtime-config.ts
  admin-app/lib/server/supabase-admin.ts
  admin-app/tests/auth-login-route.test.ts
  admin-app/tests/ping-drivers-route.test.ts
  apps/api/jest.setup.ts
  apps/api/src/common/env.ts
  apps/api/src/modules/wa-calls/common/guards/wa-webhook.guard.ts
  apps/api/src/modules/wa/wa.service.ts
  latest_schema.sql
  supabase/migrations/20250907104112_bb1041f4-1b8a-4bce-b154-b8a3e8eb8462.sql
  supabase/migrations/20251017220824_remote_schema.sql
  supabase/migrations/20251020090000_voice_realtime.sql
  supabase/migrations/20251112090000_phase2_mobility_core.sql
  supabase/migrations/20251215094500_conversations_metadata.sql
  supabase/migrations/_disabled/20251014120000_add_live_market_dual_constraint.sql
  supabase/migrations/_disabled/20251014121000_add_basket_invite_tokens.sql
  supabase/migrations/_disabled/20251014123000_add_basket_invite_tokens.sql
  supabase/migrations/_disabled/20251014123500_add_geospatial_indexes_for_matching.sql
Owners: @frontend-team, @platform-team, @backend-team, @repo-admins

Add WA outbound integration test
  admin-app/tests/wa-outbound-route.test.ts
Owners: @frontend-team, @platform-team

Fix agent migrations and refresh schema dump
  latest_schema.sql
  supabase/migrations/20251207112000_agent_document_embeddings.sql
  supabase/migrations/20251207130000_agent_toolkits.sql
Owners: @repo-admins, @platform-team

Automate Supabase backup workflow and document retention drills
  INCIDENT_RUNBOOKS.md
  audits/production_readiness/DR_BACKUP_PLAN.md
  audits/production_readiness/SYSTEM_CHECKLIST.md
  docs/runbook.md
  scripts/supabase-backup-restore.sh
Owners: none

Add performance load testing harness and fixtures
  audits/production_readiness/PERFORMANCE_READINESS.md
  package.json
  tests/perf/README.md
  tests/perf/fixtures/generated/.gitkeep
  tests/perf/k6/station_redeem_peak.js
  tests/perf/k6/voucher_preview_spike.js
  tests/perf/locust/campaign_bulk_send.py
  tests/perf/seed/perf_seed.mjs
Owners: none

Align admin RLS policies and document secrets ownership
  INCIDENT_RUNBOOKS.md
  ROLLBACK_PLAYBOOK.md
  admin-app/docs/API.md
  audits/production_readiness/SYSTEM_CHECKLIST.md
  docs/deployment/supabase-projects.md
  latest_schema.sql
  supabase/functions/tests/rls-policies.test.ts
  supabase/migrations/20260115103000_admin_station_rls_alignment.sql
Owners: @frontend-team, @platform-team, @repo-admins

feat: persist policy enforcement state and telemetry
  admin-app/app/api/notifications/[id]/route.ts
  admin-app/app/api/notifications/retry/route.ts
  admin-app/app/api/vouchers/send/route.ts
  admin-app/components/notifications/NotificationsTable.tsx
  admin-app/components/ui/PolicyBanner.module.css
  admin-app/components/ui/PolicyBanner.tsx
  admin-app/lib/api/http.ts
  admin-app/lib/server/audit.ts
  admin-app/lib/server/idempotency.ts
  admin-app/lib/server/policy.ts
  admin-app/lib/server/reliability-queue.ts
  admin-app/lib/server/throttle-store.ts
  admin-app/tests/e2e/admin-flows.test.ts
  admin-app/tests/notifications-route.test.ts
  dashboards/phase4/messaging_overview.json
  supabase/migrations/20251220103000_policy_reliability.sql
Owners: @frontend-team, @platform-team, @repo-admins

feat: launch station pwa shell with offline redeem guard
  QA_MATRIX.md
  audits/production_readiness/ACCESSIBILITY_UX_AUDIT.md
  station-app/index.html
  station-app/package.json
  station-app/public/manifest.webmanifest
  station-app/public/service-worker.js
  station-app/src/App.tsx
  station-app/src/api/stationClient.ts
  station-app/src/api/types.ts
  station-app/src/components/ActionCard.tsx
  station-app/src/components/AuthenticatedLayout.tsx
  station-app/src/contexts/StationSessionContext.tsx
  station-app/src/hooks/useRedeemQueue.ts
  station-app/src/main.tsx
  station-app/src/offline/RedeemQueue.ts
  station-app/src/screens/BalanceScreen.tsx
  station-app/src/screens/HistoryScreen.tsx
  station-app/src/screens/HomeScreen.tsx
  station-app/src/screens/LoginScreen.tsx
  station-app/src/screens/RedeemCodeScreen.tsx
  station-app/src/screens/RedeemQrScreen.tsx
  station-app/src/screens/RedeemResultScreen.tsx
  station-app/src/styles/action-card.css
  station-app/src/styles/balance.css
  station-app/src/styles/forms.css
  station-app/src/styles/history.css
  station-app/src/styles/home.css
  station-app/src/styles/index.css
  station-app/src/styles/layout.css
  station-app/src/styles/login.css
  station-app/src/styles/redeem.css
  station-app/src/styles/result.css
  station-app/src/utils/msisdn.ts
  station-app/tests/redeemQueue.integration.test.ts
  station-app/tsconfig.json
  station-app/tsconfig.node.json
  station-app/vite.config.ts
  vitest.config.ts
Owners: none

Implement retention cron and enforce MSISDN masking
  admin-app/components/baskets/ContributionsLedgerTable.tsx
  admin-app/components/baskets/KycReviewTable.tsx
  admin-app/components/baskets/LoansTable.tsx
  admin-app/components/baskets/MembershipQueueTable.tsx
  admin-app/components/baskets/SaccoOfficerForm.tsx
  admin-app/components/baskets/SaccoOfficersTable.tsx
  admin-app/components/baskets/UnmatchedSmsTable.tsx
  admin-app/components/deeplinks/IssueDeepLinkForm.tsx
  admin-app/components/users/UserDrawer.tsx
  admin-app/components/users/UsersTable.tsx
  admin-app/components/vouchers/VoucherDrawer.tsx
  admin-app/components/vouchers/VoucherGenerationForm.tsx
  admin-app/components/vouchers/VouchersTable.tsx
  admin-app/tests/msisdn-mask.test.tsx
  admin-app/tests/setupTests.ts
  admin-app/vitest.config.cjs
  audits/production_readiness/PRIVACY_DPIA_LITE.md
  audits/production_readiness/SYSTEM_CHECKLIST.md
  packages/shared/src/index.ts
  packages/shared/src/msisdn.ts
  src/marketing/CampaignsPage.tsx
  supabase/functions/data-retention/deno.json
  supabase/functions/data-retention/index.ts
  supabase/migrations/20250201120000_data_retention_archives.sql
Owners: @frontend-team, @platform-team, @repo-admins

feat: add diagnostics telemetry and operations dashboards
  admin-app/app/api/admin/diagnostics/route.ts
  admin-app/components/dashboard/admin-diagnostics/AdminDiagnosticsContent.tsx
  admin-app/components/dashboard/admin-diagnostics/MatchMetricsSection.tsx
  admin-app/components/dashboard/admin-diagnostics/QueueHealthSection.tsx
  admin-app/lib/admin/diagnostics-service.ts
  admin-app/lib/flow-exchange/admin-diagnostics.ts
  admin-app/lib/mock-data.ts
  admin-app/lib/schemas.ts
  admin-app/lib/test-utils/factories.ts
  admin-app/tests/AdminDiagnosticsContent.test.tsx
  dashboards/phase4/operations_health.json
  docs/analysis/flow_localization_review.md
  flow_live_final.json
  supabase/functions/notification-worker/index.ts
  supabase/functions/wa-webhook/observe/metrics.ts
Owners: @frontend-team, @platform-team, @repo-admins

Add pgTAP and Newman gates to CI
  .github/workflows/node.yml
  docs/deployment/runbooks.md
  package.json
  pnpm-lock.yaml
  tests/postman/flow-exchange.postman.json
  tests/sql/README.md
  tests/sql/claim_notifications.sql
  tests/sql/matching_v2.sql
  tests/sql/promote_draft_menu.sql
  tests/sql/run_all.sql
Owners: @devx-team, @platform-team

feat(admin): add query provider wiring and offline scaffolds
  admin-app/app/api/vouchers/route.ts
  admin-app/app/layout.tsx
  admin-app/app/providers/QueryProvider.tsx
  admin-app/app/sw/register.ts
  admin-app/components/providers/AppProviders.tsx
  admin-app/docs/DATA_LAYER.md
  admin-app/docs/PHASE1_FOUNDATION_PLAN.md
  admin-app/lib/data-provider/index.ts
  admin-app/lib/queries/campaigns.ts
  admin-app/lib/queries/vouchers.ts
  admin-app/public/sw.js
Owners: @frontend-team, @platform-team

Fix insurance OCR pipeline and logging
  Makefile
  deno.lock
  packages/shared/package.json.bak
  packages/shared/src/index.ts
  packages/shared/src/utils/msisdn.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  scripts/db/apply_wa_fixes.sh
  supabase/functions/ocr-processor/index.ts
  supabase/functions/wa-webhook/domains/insurance/index.ts
  supabase/functions/wa-webhook/domains/insurance/ins_handler.ts
  supabase/functions/wa-webhook/domains/insurance/ins_media.ts
  supabase/functions/wa-webhook/domains/insurance/ins_ocr.ts
  supabase/functions/wa-webhook/domains/marketplace/index.ts
  supabase/functions/wa-webhook/domains/mobility/schedule.ts
  supabase/functions/wa-webhook/i18n/translator.ts
  supabase/functions/wa-webhook/index.ts
  supabase/functions/wa-webhook/observe/alert.ts
  supabase/functions/wa-webhook/router/interactive_list.ts
  supabase/functions/wa-webhook/router/router.ts
  supabase/functions/wa-webhook/utils/wa_validate.ts
  supabase/functions/wa-webhook/wa/client.ts
  vite.config.ts.bak
Owners: @repo-admins, @platform-team

Send insurance admin alerts via direct WhatsApp
  supabase/functions/wa-webhook/domains/insurance/ins_handler.ts
Owners: @repo-admins, @platform-team

Align Supabase project refs and surface Insurance nav
  .env.example
  README.md
  admin-app/README.md
  admin-app/components/layout/nav-items.ts
  docs/admin/cron_runbook.md
  docs/admin/ops_notes.md
  docs/admin/phase2_supabase_alignment.md
  docs/deployment/phase6-smoke-checklist.md
  docs/env/env.sample
  docs/env/phase2-env-alignment.md
  docs/go-live-readiness.md
  docs/monitoring/runbook.md
  docs/refactor/phase1/consolidation_audit.md
  docs/refactor/phase2/function_hygiene.md
  easymo/docs/refactor/phase1/consolidation_audit.md
  easymo/docs/refactor/phase2/function_hygiene.md
  easymo/tools/deploy_supabase_functions.sh
  scripts/seed-remote.sh
  src/lib/api-constants.ts
  supabase/config.toml
  supabase/seed/fixtures/admin_panel_core.sql
Owners: @frontend-team, @platform-team, @repo-admins

Make campaign target archiving idempotent
  supabase/functions/data-retention/index.ts
Owners: @repo-admins, @platform-team

fix: apply campaign filters before pagination
  admin-app/app/api/campaigns/route.ts
  admin-app/lib/campaigns/campaigns-service.ts
  admin-app/lib/data-provider/index.ts
Owners: @frontend-team, @platform-team

Install pgTAP in Postgres service for CI
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

Install pgTAP in Postgres service container
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

Make campaign target archiving idempotent
  supabase/functions/data-retention/index.ts
Owners: @repo-admins, @platform-team

Fix station cache scoping and redeem result reset
  station-app/src/hooks/useRedeemQueue.ts
  station-app/src/screens/BalanceScreen.tsx
  station-app/src/screens/HistoryScreen.tsx
Owners: none

Retry throttle window update on empty result
  admin-app/lib/server/throttle-store.ts
Owners: @frontend-team, @platform-team

Ensure unique batch references for Locust dispatch
  tests/perf/locust/campaign_bulk_send.py
Owners: none

Limit staging restore reset to public schema
  scripts/supabase-backup-restore.sh
Owners: none

Include ops role in admin helper
  supabase/migrations/20260115103000_admin_station_rls_alignment.sql
Owners: @repo-admins, @platform-team

Fix service role env guard heuristic
  scripts/assert-no-service-role-in-client.mjs
Owners: none

Ensure admin middleware upgrades cookies
  easymo/admin-app/middleware.ts
Owners: none

fix: install pgTAP as root
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

Fix pgTAP install command with root user
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

fix(ci): locate postgres container dynamically
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

Use constant-time comparison for WhatsApp signature
  supabase/functions/_shared/security.ts
Owners: @repo-admins, @platform-team

Enforce MSISDN requirement for bound deeplink tokens
  apps/api/src/modules/deeplink/deeplink.controller.spec.ts
  apps/api/src/modules/deeplink/deeplink.service.ts
  apps/api/src/modules/wa/flow-bootstrap.controller.spec.ts
Owners: @backend-team, @platform-team
