Repository ikanisa/easymo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @platform-team, @backend-team, @db-team, @frontend-team, @devx-team

.github/CODEOWNERS:

# Protect critical areas with required reviews.
# Replace the sample handles with your team slugs or users (e.g., @Loansert-Organization/platform-team).

/supabase/**              @repo-admins @platform-team
/apps/**                   @backend-team @platform-team
/packages/db/**            @db-team @platform-team
/admin-app/**              @frontend-team @platform-team
.github/workflows/**       @devx-team @platform-team

Refactor wa router handler for direct testing
  supabase/functions/wa-router/index.test.ts
  supabase/functions/wa-router/index.ts
Owners: @repo-admins, @platform-team

Include ops role in is_admin helper
  supabase/migrations/20260115103000_admin_station_rls_alignment.sql
Owners: @repo-admins, @platform-team

Fix station balance caching and redeem queue state
  station-app/src/hooks/useRedeemQueue.ts
  station-app/src/screens/BalanceScreen.tsx
  station-app/src/screens/HistoryScreen.tsx
Owners: none

Use postgres service ID for pgTAP install
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

Install pgTAP in Postgres service container
  .github/workflows/node.yml
Owners: @devx-team, @platform-team

test: avoid network call in wa-router GET tests
  supabase/functions/wa-router/index.test.ts
Owners: @repo-admins, @platform-team

docs: update architecture overview (merged from local backups)
  docs/architecture.md
Owners: none

chore: ignore .env
  .gitignore
Owners: none

chore: stop tracking .env (use .env.example instead)
  .env
Owners: none

chore: add sanitized .env.example
  .env.example
Owners: none

docs: add quick .env setup hint
  README.md
Owners: none

shared(msisdn): format RW as '+250 78* *** 012' and use em-dash fallback
  packages/shared/src/utils/msisdn.ts
Owners: none

admin-app: add apiFetch shim to stabilize imports for CI
  admin-app/lib/api/client.ts
Owners: @frontend-team, @platform-team

admin-app: export apiClient and harden headers typing in apiFetch
  admin-app/lib/api/client.ts
Owners: @frontend-team, @platform-team

db: enable RLS + deny-all default policies on audited tables
  supabase/migrations/20251030140000_enable_rls_lockdown.sql
Owners: @repo-admins, @platform-team

ci(pages): remove stale git submodule 'flows/json/JB' to unblock Pages deploy
  supabase/functions/wa-webhook/flows/json/JB/README.md
Owners: @repo-admins, @platform-team

fix: require auth for AI voucher tools
  supabase/functions/_shared/agent-auth.test.ts
  supabase/functions/_shared/agent-auth.ts
  supabase/functions/ai-create-voucher/index.ts
  supabase/functions/ai-lookup-customer/index.ts
  supabase/functions/ai-redeem-voucher/index.ts
  supabase/functions/ai-void-voucher/index.ts
Owners: @repo-admins, @platform-team

Restore match reference in WhatsApp prefills
  supabase/functions/wa-webhook/domains/mobility/nearby.ts
Owners: @repo-admins, @platform-team

Fix additive guard existing file detection
  .github/workflows/additive-guard.yml
Owners: @devx-team, @platform-team

Fix additive guard base existence check
  .github/workflows/additive-guard.yml
Owners: @devx-team, @platform-team

Preserve match reference in WhatsApp prefill
  supabase/functions/wa-webhook/domains/mobility/nearby.ts
Owners: @repo-admins, @platform-team

Restore match reference in WhatsApp prefill
  supabase/functions/wa-webhook/domains/mobility/nearby.ts
Owners: @repo-admins, @platform-team

Fix additive guard existing file detection
  .github/workflows/additive-guard.yml
Owners: @devx-team, @platform-team

fix: secure agent voucher tools
  docs/agents/README.md
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/env.ts
  supabase/functions/_shared/feature-flags.ts
  supabase/functions/ai-create-voucher/index.ts
  supabase/functions/ai-lookup-customer/index.ts
  supabase/functions/ai-redeem-voucher/index.ts
  supabase/functions/ai-void-voucher/index.ts
Owners: @repo-admins, @platform-team

docs: capture phase 0-5 transition readiness
  docs/phase5/OVERVIEW.md
  docs/phase5/phase0-5-transition-plan.md
Owners: none

feat: add deno router function with routing tables
  apps/router-fn/deno.json
  apps/router-fn/src/main.ts
  apps/router-fn/src/repository.ts
  apps/router-fn/src/router_service.ts
  apps/router-fn/src/telemetry.ts
  apps/router-fn/src/types.ts
  apps/router-fn/tests/router_service.test.ts
  docs/runbook.md
  supabase/migrations/20260201090000_router_fn_foundation.sql
Owners: @backend-team, @platform-team, @repo-admins

feat: add infra migrations and rls coverage
  docs/data-map.md
  infra/supabase/migrations/0001_locations_and_schedules.sql
  infra/supabase/migrations/0002_deeplink_tokens.sql
  infra/supabase/migrations/0003_router_logs.sql
  infra/supabase/policies/0001_owner_rls.sql
  infra/supabase/policies/0002_deeplinks_and_router_logs.sql
  tests/sql/rls_policies.sql
Owners: none

chore: scaffold strangler modernization workspaces
  apps/admin-pwa/README.md
  apps/admin-pwa/package.json
  apps/admin-pwa/src/index.ts
  apps/admin-pwa/tsconfig.json
  apps/app-apis/README.md
  apps/app-apis/package.json
  apps/app-apis/src/index.ts
  apps/app-apis/tsconfig.json
  apps/router-fn/README.md
  apps/router-fn/package.json
  apps/router-fn/src/index.ts
  apps/router-fn/tsconfig.json
  docs/DECISIONS.md
  docs/README.md
  docs/decisions/0001-strangler-modernization.md
  infra/ci/README.md
  infra/supabase/README.md
  packages/clients/README.md
  packages/clients/package.json
  packages/clients/src/index.ts
  packages/clients/tsconfig.json
  packages/config/README.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.strangler.json
Owners: @backend-team, @platform-team

Add phase 5 cutover runbook
  docs/phase5/cutover_runbook.md
Owners: none

feat: add router service with db-backed keyword routing
  apps/router-fn/deno.json
  apps/router-fn/import_map.json
  apps/router-fn/src/config.ts
  apps/router-fn/src/main.ts
  apps/router-fn/src/repository.ts
  apps/router-fn/src/router.test.ts
  apps/router-fn/src/router.ts
  apps/router-fn/src/types.ts
  apps/router-fn/src/utils.ts
  docs/runbook.md
  latest_schema.sql
  supabase/functions/wa-router/README.md
  supabase/functions/wa-router/index.test.ts
  supabase/functions/wa-router/index.ts
  supabase/migrations/20260131120000_router_infrastructure.sql
  tests/sql/rls_policies.sql
Owners: @backend-team, @platform-team, @repo-admins

Add strangler placeholders and config scaffolding
  apps/admin-pwa/README.md
  apps/admin-pwa/package.json
  apps/admin-pwa/src/placeholder.ts
  apps/admin-pwa/tsconfig.json
  apps/app-apis/README.md
  apps/app-apis/package.json
  apps/app-apis/src/index.ts
  apps/app-apis/tsconfig.json
  apps/router-fn/README.md
  apps/router-fn/package.json
  apps/router-fn/src/index.ts
  apps/router-fn/tsconfig.json
  docs/DECISIONS.md
  docs/README.md
  docs/adr/0001-strangler-topology.md
  infra/ci/README.md
  infra/supabase/README.md
  packages/clients/README.md
  packages/clients/package.json
  packages/clients/src/index.ts
  packages/clients/tsconfig.json
  packages/config/README.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.json
Owners: @backend-team, @platform-team

feat: add shared configs and logging utilities
  .github/workflows/ci.yml
  docs/env.md
  docs/standards.md
  eslint.config.js
  package.json
  packages/config/env.ts
  packages/config/eslint/base.js
  packages/config/eslint/node.js
  packages/config/eslint/prettier.config.js
  packages/config/eslint/react.js
  packages/config/package.json
  packages/config/tsconfig.json
  packages/utils/log/eslint.config.js
  packages/utils/log/package.json
  packages/utils/log/src/index.ts
  packages/utils/log/tests/logger.test.ts
  packages/utils/log/tsconfig.build.json
  packages/utils/log/tsconfig.json
  packages/utils/log/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  tsconfig.strict.json
Owners: @devx-team, @platform-team

feat: harden mobility rls and retention policies
  docs/data-map.md
  infra/supabase/migrations/20260214090000_mobility_domain.sql
  infra/supabase/policies/20260214090500_mobility_rls.sql
  latest_schema.sql
  supabase/functions/tests/rls-policies.test.ts
  supabase/migrations/20260214090000_mobility_domain.sql
  supabase/migrations/20260214090500_mobility_rls.sql
  tests/sql/rls_policies.sql
Owners: @repo-admins, @platform-team

feat(ui): introduce design tokens and admin integration
  admin-app/app/layout.tsx
  admin-app/components/dashboard/KpiCard.tsx
  admin-app/components/dashboard/TimeseriesChart.tsx
  admin-app/components/ui/Button.tsx
  admin-app/lib/server/feature-flags.ts
  admin-app/lib/ui-kit.ts
  admin-app/package.json
  admin-app/styles/theme.css
  admin-app/tsconfig.json
  admin-app/vitest.config.cjs
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/charts.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/kpi-widget.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/index.ts
  packages/ui/stories/Button.stories.tsx
  packages/ui/stories/Dialog.stories.tsx
  packages/ui/stories/Input.stories.tsx
  packages/ui/stories/KPIWidget.stories.tsx
  packages/ui/stories/SparklineChart.stories.tsx
  packages/ui/stories/Table.stories.tsx
  packages/ui/tokens/index.ts
  packages/ui/tokens/styles.css
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @frontend-team, @platform-team
